#grid {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
  min-height: 100%;
  background-color:#032F5E;
}

#network-container {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

#network-graph {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

#control-panel {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  min-width: 300px;
  min-height:180px;
  top: 10px;
  left: 10px;
  border-radius: 15px;
}
#control-panel > button {
  width: 100px;
  height: 30px;
  border-radius: 7px;
}

.node, line {
  pointer-events: all;
}
.node:hover, line:hover {
  cursor: pointer;
}

.detail-overlay.hidden {
  visibility: hidden;
  /*pointer-events: none;*/
}

.detail-overlay.visible {
  visibility: visible;
  /*pointer-events: all;*/
}

.detail-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  padding: 1em;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  overflow: hidden;
  list-style: none;
}

.detail-overlay li {
  border-radius: 8px;
  padding: 1em;
  font-size: 1.5em;
}

.detail-overlay .icon {
  margin-right: 1em;
}

.detail-overlay .icon > svg {
  height: 1em;
  font-size: 1.5em;
}

.detail-overlay li + li {
  margin-top: 0.5em;
}

.sidebar {
  grid-column: 1 / span 1;
}

.sidebar .sidebar-element {
  padding: 0.5em
}

.sidebar svg {
  display: block;
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
  min-height: 100%;
}
