div#network-graph {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*
  width: 200px;
  height: 200px;
  */
}
div#network-container {
  background-color:#032F5E;
}

canvas#particle-overlay-canvas {
  position: absolute;
}
#control-panel {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  min-width: 300px;
  min-height:180px;
  top: 10px;
  left: 10px;
  border-radius: 15px;
}
#control-panel > button {
  width: 100px;
  height: 30px;
  border-radius: 7px;
}
